from pyscf import scf

mean_field = scf.{{ method | default('UKS') }}(structure)
{% if xc is defined %}mean_field.xc = {{ xc }}{% endif %}
{% if grids is defined %}mean_field.grids.level = {{ grids['level'] | default(3) }}{% endif %}

time_mean_field_start = time.perf_counter()
mean_field_run = mean_field.run()

results['timings']['mean_field'] = time.perf_counter() - time_mean_field_start
results['total_energy'] = mean_field_run.e_tot
results['forces'] = (- mean_field_run.nuc_grad_method().kernel()).tolist()
