from pyscf import gto
structure = gto.Mole()
structure.basis = '{{ structure.basis_set | default('def2-tzvp') }}'
structure.charge = {{ structure.charge | default(0) }}
structure.spin = {{ structure.spin | default(0) }}
structure.unit = 'Ang'
structure.atom = """
{{ structure.xyz }}
"""
structure.build()
