name: ci

on: [push, pull_request]

jobs:

  pre-commit:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: pip
        cache-dependency-path: pyproject.toml

    - name: Update pip and install wheel
      run: pip install -U pip wheel

    - name: Install Python package and dependencies
      run: pip install -e .[pre-commit,tests]

    - name: Run pre-commit
      run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

  tests:

    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    services:
      rabbitmq:
        image: rabbitmq:latest
        ports:
        - 5672:5672

    steps:
    - uses: actions/checkout@v2

    - name: Install Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: pyproject.toml

    - name: Install system dependencies
      run: sudo apt update && sudo apt install postgresql

    - name: Update pip and install wheel
      run: pip install -U pip wheel

    - name: Install Python package and dependencies
      run: pip install -e .[tests]

    - name: Run pytest
      env:
        AIIDA_WARN_v3: true
      run: pytest -sv tests
